In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
df = pd.read_csv("train_time_series.csv")
labels = pd.read_csv("train_labels.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3744 entries, 0 to 3743
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3744 non-null   int64
 1   timestamp   3744 non-null   int64
 2   UTC time    3744 non-null   object
 3   accuracy    3744 non-null   object
 4   x           3744 non-null   float64
 5   y           3744 non-null   float64
 6   z           3744 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 204.9+ KB

In [9]:
df.head(15)

    Unnamed: 0      timestamp  ...         y         z
0        20586  1565109930787  ... -0.934860 -0.069046
1        20587  1565109930887  ... -1.015442  0.089554
2        20588  1565109930987  ... -1.021255  0.178467
3        20589  1565109931087  ... -0.987701  0.068985
4        20590  1565109931188  ... -1.003616  0.126450
5        20591  1565109931288  ... -0.967575  0.170898
6        20592  1565109931388  ... -0.982330  0.235565
7        20593  1565109931488  ... -1.053207  0.256714
8        20594  1565109931589  ... -0.972794  0.356308
9        20595  1565109931689  ... -0.890533  0.223221
10       20596  1565109931789  ... -0.893982  0.264236
11       20597  1565109931889  ... -0.902725  0.137680
12       20598  1565109931989  ... -1.197876  0.128494
13       20599  1565109932090  ... -0.852371 -0.000870
14       20600  1565109932190  ... -0.988525  0.034973

[15 rows x 7 columns]

In [5]:
labels.head()

   Unnamed: 0      timestamp                 UTC time  label
0       20589  1565109931087  2019-08-06T16:45:31.087      1
1       20599  1565109932090  2019-08-06T16:45:32.090      1
2       20609  1565109933092  2019-08-06T16:45:33.092      1
3       20619  1565109934094  2019-08-06T16:45:34.094      1
4       20629  1565109935097  2019-08-06T16:45:35.097      1

In [6]:
df.shape

(3744, 7)

In [8]:
df.isnull().sum()

Unnamed: 0    0
timestamp     0
UTC time      0
accuracy      0
x             0
y             0
z             0
dtype: int64

In [27]:
df = df[labels["Unnamed: 0"]]

ValueError: ignored

In [0]:
df = df.iloc[3:]
df.reset_index(drop = True, inplace= True)

In [71]:
df["labels"] = 0
i =0
for ind in range(0, df.shape[0], 10):
  df["labels"].iloc[ind : ind+10] = labels["label"].iloc[i]
  i +=1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
input = df[["x", "y", "z","timestamp"]]
output = df["labels"]

In [0]:
from sklearn.model_selection import train_test_split
train_input, test_input,train_output, test_output = train_test_split(input, output, random_state =1)

In [90]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=4)
model.fit(train_input, train_output)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [93]:
model.score(test_input, test_output)

0.9967914438502674